[2015-01-19 10:52] bertfrees opened #1 "Developer chat"
As @jukkae pointed out, doing all communicating through github issues can quickly become chaotic. A better idea is to do the discussions in a dedicated chatroom and write the conclusions in github issue comments.

A quick search on the web brought me to https://gitter.im. Integrates with Github and HuBoard. You can connect with your IRC client. It gives you unlimited chat history for 5 $/month.

[2015-01-19 11:56] josteinaj commented on #1
There's also [Slack](https://slack.com/), [HipChat](https://www.hipchat.com/) and [Flowdock](https://www.flowdock.com/) which also seems pretty popular (as well as a bunch of others).

They all seem pretty popular, but I get the feeling that Slack is slightly more popular than the others?

Slack also has HuBoard integration it seems, although it's not listed in the list of integrations:
https://gi

[2015-01-19 13:25] bertfrees commented on #1
Thanks Jostein. All we really need is basically a single chat box, preferably with unlimited history. But I admit all those fancy features (integration of this, integration of that, markdown support, syntax highlighting, screen sharing, file sharing, video chat, etc. etc.) are very tempting.

Let us know how you liked HipChat. I'm fine with a web interface or an IRC bridge by the way.

[2015-01-19 13:30] josteinaj commented on #1
Got HipChat installed now. Seems decent, but I haven't tried it in practice and I'm not familiar with the other tools so I don't know what's best.

I think we should avoid anything that requires you to have a browser tab all the time. Not that any of those tools requires you to do so, but some of the advantage of a chat tool is that it's always running,  so you're always available, isn't it?

If a

[2015-01-19 13:34] josteinaj commented on #1
(writing on mobile, pressed "comment" by mistake)

(...) always available, isn't it?

If all we want is to store the chat history, then there's always google talk.

[2015-01-19 13:45] bertfrees commented on #1
OK good point about always being available.

With chat history I mean that the chat logs should be there for everyone to see even if they weren't in the chatbox at the time. If GTalk can do that, I guess that's fine.

[2015-01-19 13:58] josteinaj commented on #1
Yeah I think it works like that, but I'm not sure. There's also facebook chat if we really want to go crazy.

I would be interested in trying out a dedicated tool though. Either HipChat since it has a working Linux client, or Slack/Gitter if IRC is sufficient. HipChat seems to be the most mature of the options since it's existed since 2010. Whatever we choose, we can start with the free option and

[2015-01-19 14:06] bertfrees commented on #1
Trying out Slack now...

[2015-01-19 15:10] bertfrees commented on #1
IRC works (with SSL) and I have configured Github webhooks. If everything goes well there should be a notification in Slack after I've added this comment.

[2015-01-21 09:24] egli commented on #1
If all we are doing is irc then I don't quite see why we just create a channel on freenet or oftc

[2015-01-21 09:26] jukkae commented on #1
Are we? I am; irc's fine by me.

[2015-01-21 10:00] josteinaj commented on #1
Slack works fine for me, but if all we want is chat then IRC is also fine. If all we want is chat then Skype is also an option though. If we want the chat history to be stored for future reference, then I don't think IRC/Skype are good options?

[2015-01-21 10:07] egli commented on #1
For chat history someone would have to set up a irc logger. It is true that slack offers more than irc. Question is if we need more than what irc offers. From what I can see slack is a fancy (and proprietary) chat client that has notifications from a lot of sides, i.e. github issues, commits, etc

[2015-01-21 11:05] bertfrees commented on #1
Conclusion of offline discussion: we are developers and like to do things ourselfs, but on the other hand there are hosted services out there that make our lifes easy ("the old hosted vs diy discussion aka easy vs privacy"). One problem with Slack is that we can't easily invite people to a chat that are not signed up, but there seem to be workarounds. A first investigation has shown us that settin

[2015-01-22 08:27] egli commented on #1
After having slept on it I propose that we go for the simplest and still most convenient solution:
1. We create a channel on freenode for chat via irc
2. The channel is logged via an external service (https://botbot.me/)
3. non-nerd access is via http://webchat.freenode.net/
4. For code snippets we just use github gists

This solution is based on plain old, hassle-free irc while still featuring se

[2015-01-22 14:01] egli commented on #1
There is now a channel on freenode.net named #snaekobbi. The repos functional-testing and issues have services set up so that they should send notifications to the channel

[2015-01-22 14:26] egli commented on #1
Just testing if irc notifications work

[2015-02-03 20:15] #1 closed, assigned to jukkae

[2015-02-10 15:45] bertfrees opened #2 "Finnish hyphenation"
There are several options for implementing a hyphenator. The two technologies supported in the Pipeline are TeX and libhyphen (but we don't have to limit ourselfs to these two).
- TeX patterns for Finnish are already available in Dotify [here](https://github.com/mtmse/dotify/blob/master/dotify.hyphenator.impl/src/org/daisy/dotify/impl/hyphenator/latex/resource-files/utf8/hyph-fi.tex) and [here](ht

[2015-02-13 11:49] josteinaj opened #3 "Bundle fonts that support braille-characters in EPUB renditions"
When producing e-braille, we may need to bundle fonts to make sure that the unicode braille characters are rendered properly on all reading systems.

[2015-02-13 11:58] bertfrees commented on #3
OK, we could do that. Shouldn't be a big problem. But what exactly would be the use case? Which sighted people are going to read unicode braille?

[2015-02-13 12:12] josteinaj commented on #3
I guess it would be more useful for producers or maybe teachers.

Maybe we could even use a font that renders each unicode braille letter as ASCII-characters?

[2015-02-13 12:23] bertfrees commented on #3
Here I see more a use case for braille & print "interlining" actually, which could be accomplished by readers systems that use the renditionMapping.html document in a smart way.

But yes, rendering unicode braille patters as ASCII characters is also a possibility.

[2015-03-09 11:55] bertfrees opened #4 "Set up server for distribution"
Hosted at NLB: repo.nlb.no

Depends on:
- [x] https://github.com/snaekobbi/reprepro-service/issues/1
- [x] https://github.com/daisy/pipeline-mod-braille/issues/15

Related issues:
- [ ] https://github.com/daisy/pipeline-mod-braille/issues/16
- [ ] https://github.com/daisy/pipeline-assembly/pull/58
- [ ] https://github.com/daisy/pipeline-assembly/issues/68

[2015-03-09 12:01] bertfrees opened #5 "Set up test server"
For testing with the web user interface. Hosted at NLB.

Depends on:
- [x] https://github.com/snaekobbi/issues/issues/4

Related issues:
- [ ] https://github.com/daisy/pipeline-webui/issues/16
- [x] https://github.com/daisy/pipeline-assembly/pull/58

[2015-03-14 15:02] joeha480 opened #6 "Merge snaekobbi/dotify with upstream"
The snaekobbi/dotify repo should be merged with upstream (or forked from it). Note that the two repos are based on different svn to git conversions, and therefore do not have common ancestors. In other words, manual copying may be required.

[2015-03-15 18:16] bertfrees commented on #6
I don't think the fork contains any changes apart from the Gradle stuff, but that is already committed through SVN.

[2015-03-16 07:33] joeha480 commented on #6
Ok, great! Perhaps delete it then?

[2015-03-16 09:55] bertfrees commented on #6
There are two issues and a pull request I'd like to keep for reference. I'll move them after you've migrated the issues.

[2015-04-03 14:52] bertfrees opened #7 "Volume breaking requirements"
Volume breaking is a constrained optimization problem. We have to optimize an objective function with respect to some variables subject to (soft or hard) constraints. In this issue I want to find out what the variables, constraints and objectives are.

Possible objectives/constraints are:
- to limit the size of volume
- to minimize the number of volumes
- to maximize the similarity in size
- to ha

[2015-04-08 12:13] #4 closed, assigned to nobody

[2015-04-08 12:19] #5 closed, assigned to nobody

[2015-04-08 12:36] bertfrees commented on #6
I did this last week.

[2015-04-08 12:36] #6 closed, assigned to nobody

[2015-05-05 12:07] bertfrees commented on #2
We ended up generating both a libhyphen and a tex patterns file from the same source. The source code lives in [pipeline-mod-celia](https://github.com/snaekobbi/pipeline-mod-celia). Tests are run with both the texhyphj API, using the texhyph module of pipeline-mod-braille, and using the libhyphen module of pipeline-mod-braille. The texhyph module of pipeline-mod-braille needs to be fixed, see issu

[2015-05-05 13:22] jukkae opened #8 "Finnish hyphenation for word-ending single vowels"
The official recommendation for hyphenation of word-ending single vowel syllables states that words should not be broken so that only a single letter is moved to the next line. For example, even though "uusia" is broken into syllables as "uu|si|a", it is recommended that it is hyphenated as "uu-sia".
This does not currently work with plain texhyph, but works with libhyphen.
The patterns were remov

[2015-05-05 16:58] #2 closed, assigned to jukkae

[2015-05-20 15:09] bertfrees commented on #2
The texhyph module of pipeline-mod-braille is now fixed, see snaekobbi/pipeline-mod-braille#44 and https://github.com/snaekobbi/pipeline-mod-celia/commit/1c18b6189c4dce7cbe182022efdf53e9f8616bfa.

[2015-06-04 07:34] mixa72 opened #9 "Support for brl:literal with ASCII braille"
The <code>brl:literal</code> element which is used to embed braille output in the source file should support not only Unicode braille but also ASCII braille. (https://github.com/snaekobbi/functional-testing/pull/17#issuecomment-108445742)

[2015-06-24 20:16] bertfrees commented on #7
@snaekobbi/experts The problem of volume breaking is a tricky one because there are a lot of things I potentially have to take into account, depending on your exact requirements. As explained above, in this thread I want to find out what the constraints and objectives are of the optimization problem that volume breaking is.

Basically what I want to do, with your help, is fill in the top table, an

[2015-06-25 08:08] dkager commented on #7
Line breaking (column 2):
- Avoiding hyphens should definitely be considered. Define the minimum length of a line, e.g. it is okay to move the word 'direction' to a new line to avoid the orphan 'di-', but it's not okay to do this for orphans of 4 letters or more. I don't have hard specs for this, but this seems sensible to me.
- A complication is that avoiding hyphens eventually leads to more line

[2015-06-25 08:53] stesk commented on #7
Comments on the table as it applies to volume-splitting:

Limit size: I think we have a hard limit of around 90 pages. (I'll get the specific number from someone.) Whether that's a preference or a printer limitation, I don't know. In any case it seems reasonable to have a way of specifying a maximum volume size.

Minimise count: Reduces overhead and minimises the need for the reader to switch volu

[2015-06-25 14:11] mixa72 commented on #7
Comments on the table in accordance with the SBS requirements:

Limit size: Our most frequently used binding is available in several sizes. The biggest one allows a maximum limit of 70 pages per volume (duplex). The smallest one should have at least 30 pages (minimum).
Our ring binders in turn can take up to 90 pages. Books for children are usually delivered in a wire binding with a cover and are

[2015-06-25 17:52] bertfrees commented on #7
Yes I have an idea to make this configurable with CSS.

[2015-06-25 18:00] bertfrees commented on #7
Maybe a good use case for generated content (https://github.com/snaekobbi/requirements/pull/33)?

[2015-06-26 07:18] mixa72 commented on #7
Yes, definitely, do you need an example for that?

[2015-06-30 09:16] bertfrees commented on #7
Yes, would be nice, thanks.

[2015-07-02 05:23] bertfrees opened #10 "Backup job data on test server"
Make a cronjob for backing up job data. Also check that job data is handled correctly on a apt-get upgrade.

Related:
- [x] https://github.com/daisy/pipeline-webui/issues/23

[2015-07-02 05:33] bertfrees opened #11 "Install Pipeline version 1.9.1 on test server"
In addition install all agency-specific braille modules (they are not included in the default distribution of Pipeline).

Maybe write an Ansible script for more automatic deployment to the test server (and possibly other servers such as the "repo" server). This will make life easier for Jostein and could allow us to deploy without him.

Depends on:
- [x] https://github.com/snaekobbi/system/issues/

[2015-07-02 05:41] bertfrees opened #12 "Pipeline braille module per agency"
For placing agency-specific scripts, translators, liblouis tables, hyphenation files, CSS files, etc.
- [x] pipeline-mod-celia
- [x] pipeline-mod-sbs
- [x] pipeline-mod-nlb
- [x] pipeline-mod-nota
- [x] pipeline-mod-mtm
- [x] pipeline-mod-dedicon

Create Debian packages for each of these modules.

[2015-07-02 05:46] bertfrees opened #13 "Integrate latest liblouis tables"
Integrate most up to date liblouis tables for all languages. Tables that are not in a liblouis release yet need to be placed in agency-specific modules.
- [x] SBS: sbs-braille-tables 2.0
- [x] Celia: liblouis 2.6.3
- [x] Nota: liblouis 2.6.3
- [x] Dutch: Davy's latest version of nl-NL-g0
- [x] NLB: Jostain latest versions of no-no-g0/1/2/3

Depends on:
- [x] https://github.com/snaekobbi/issues/iss

[2015-07-02 05:52] bertfrees opened #14 "Higher level translator components for all languages"
i.e. CSSBlockTransform and/or (CSSStyled)TextTransform

Depends on:
- [x] https://github.com/snaekobbi/issues/issues/12

[2015-07-02 09:32] josteinaj commented on #11
Ansible seems good (haven't tried it). Could maybe use AWS hosting or similar as well instead of NLB-hosting if you think it makes things more maintainable and stable.

The plan is still to install using deb-files, right? And pipeline-assembly is already set up for that (although we need to test it a bit more I think). Will we be able to install DP2 modules as well with deb files you think? Also,

[2015-07-02 09:42] egli commented on #11
I am installing dp2 using debs and ansible. See https://github.com/sbsdev/sbs-infrastructure/tree/master/roles/pipeline2. I'm happy to help.

[2015-07-02 11:42] bertfrees commented on #11
A have a bit of experience with Ansible too. External hosting is something we could possibly look at when we have a provisioning script. Yes, the plan would still be to use packages. For the web UI too. Installing DP2 modules with DEB packages is perfectly possible, and what I was planning to do with the agency-specific modules.

[2015-07-07 12:24] #12 closed, assigned to bertfrees

[2015-07-07 18:20] bertfrees opened #15 "Ansible script for provisioning of test server"
Put it in new repository called snaekobbi/system.

The script will install the various components of the system through Debian packages:
- daisy-pipeline2
- daisy-pipeline2-webui
- daisy-pipeline2-mod-celia
- daisy-pipeline2-mod-nota
- daisy-pipeline2-mod-nlb
- daisy-pipeline2-mod-sbs
- daisy-pipeline2-mod-mtm
- daisy-pipeline2-mod-dedicon

The script will be versioned so that it can be referenced

[2015-07-07 18:23] bertfrees commented on #15
In addition to a provisioning script for the test server, there could be a provisioning script for the package repo server.

[2015-07-07 18:25] bertfrees commented on #15
There can also be a Vagrant test.

[2015-07-09 18:58] bertfrees commented on #15
Fixed by https://github.com/snaekobbi/system

[2015-07-09 18:58] #15 closed, assigned to bertfrees

[2015-07-10 14:43] bertfrees commented on #11
Done by Jostein

[2015-07-10 14:43] #11 closed, assigned to bertfrees

[2015-07-10 15:29] #13 closed, assigned to nobody

[2015-07-13 18:31] bertfrees commented on #7
I've updated the third column of the table with your feedback.

[2015-08-06 12:37] #14 closed, assigned to bertfrees

[2015-08-06 12:55] bertfrees opened #16 "Use Ansible script to update test server"
Some work may be needed to make the pipeline-webui deb package fit our needs:
- [x] check if database is not lost after upgrading
- [x] ~~make sure stopping/restarting the service works (https://github.com/daisy/pipeline-assembly/issues/79)~~  (**EDIT**: starting/stopping web UI is currently done with a custom script in test-server-hubot)

We could also have an Ansible script for restarting the se

[2015-08-06 13:13] bertfrees commented on #1
Because as it has turned out not everybody is as enthusiastic about IRC, a possibility is to sync our IRC channel with a Slack channel, as described in http://www.everybodyhertz.co.uk/slack-and-irc.

[2015-08-10 13:25] bertfrees commented on #16
The bot idea has been implemented here: https://github.com/nlbdev/snaekobbi-hubot

[2015-08-10 16:54] bertfrees commented on #16
See https://github.com/snaekobbi/system/pull/3

[2015-08-26 09:25] bertfrees opened #17 "Alternative path in dtbook-to-pef (bypassing CSS)"
In this issue we'll describe what needs to be done in order to expose an alternative path in the system that goes directly from DTBook (or other XML) through OBFL to PEF, without taking into account any CSS style sheets. Possibly an XSLT style sheet (DTBook to OBFL) that would be provided as an input could be evaluated on the fly.

Note: This feature is absolutely required by MTM. It would be avai

[2015-08-26 09:37] josteinaj commented on #17
Would this be a matter of just removing
- `<?xml-stylesheet ...?>`
- `//link[@rel='stylesheet']` (for HTML)
- `//@style` (for HTML)

... in a preprocessing XSLT?

[2015-08-26 09:44] bertfrees commented on #17
No the idea is basically that the XSLT style sheet would replace the CSS style sheet (behind the scenes it replaces the xml+css-to-obfl step). What you would define in CSS would need to be defined in XSLT. The XSLT may (partly) take into account CSS, but it probably won't. MTM will use this path to plug in their existing dtbook-to-obfl.xsl.

[2015-08-27 07:35] joeha480 commented on #17
I think that some integration with css in the XSLT path would be a great feature (though not required for now). In other words, you would define the main transformation with XSLT, but perhaps it would be useful to do per book customization with css on top of that. I realize that it might be difficult to figure out how to use them together, but it would be a cool feature.

Also, we need to note tha

[2015-08-27 08:27] josteinaj commented on #17
The Pipeline 2 Web API currently does not support XProc parameter ports; and as a consequence all parameters you want to pass to the XSLT from the end-user has to be declared explicitly beforehand and exposed as script options.

[2015-08-27 10:22] bertfrees commented on #17
@joeha480 Based on your thoughts I suggest we do it as follows, and I also add an alternative which may be a bit better in terms of user interface:
1. Because you may want to take into account a subset of CSS, I suggest you just use the existing framework (dtbook-to-pef) which basically consists of a `css:inline` step and then the formatting step (incl. translation) which is selected based on the

[2015-10-20 07:16] dkager opened #18 "Compare BRF in xprocspec"
Make it possible to compare BRF files in xprocspec, e.g.:

[code]

The problem is that XML 1.0 doesn't support the Form Feed character entity. You can use the binary method but this makes it difficult to compare the actual result and the expected result. Some ideas:
- Use `method="binary"` instead, then interpret the result as some charset.
- Add a preprocessing step that transforms a BRF into an

[2015-10-20 08:11] bertfrees commented on #18
Thanks Davy. I think the last option is a bit similar to something I once proposed: to let custom comparators also implement a custom diff view. This would solve other problems too such as the PEF diff highlighting apparent differences that aren't really differences according to the custom compare step (pef:compare).

[2015-11-10 15:30] josteinaj opened #19 "Add default values to script options"
The Web UI uses "true" for booleans and the empty string for strings. Start declaring the actual desired default value in the scripts.

[2015-11-10 15:30] josteinaj opened #20 "Add datatypes to scripts"
Create and start using in scripts:
- enumerated values
- regexes

[2015-11-11 10:03] bertfrees commented on #19
The MTM script (https://github.com/snaekobbi/pipeline-mod-mtm/blob/master/src/main/resources/xml/dtbook-to-pef.xpl) is already putting default values in the select attributes. Is that OK as an example?

[2015-11-11 10:49] bertfrees commented on #20
OK. @usama49 could you maybe have a look at this?

The MTM script (https://github.com/snaekobbi/pipeline-mod-mtm/blob/master/src/main/resources/xml/dtbook-to-pef.xpl) has some use cases for enumerated values and regexes.

For example, the following option, which is currently a boolean could be changed into an enum, so that the name and description of the option becomes more natural:

[code]

becom

[2015-11-11 10:53] bertfrees commented on #20
By the way, in order to properly support descriptions of enum (or boolean) values we could consider a syntax similar to that of Pipeline 1. Right now the nicename which is presented in the UI and the value which is used in the script are one and the same.

[code]

[2015-11-11 11:01] josteinaj commented on #19
Yes.

I guess the problem then is that the web API doesn't include the default value in the output:

[code]

(output from the engine running on the test server)

Isn't it suppsed to include `default` attributes on the `option`s?

[2015-11-11 11:03] bertfrees commented on #19
Yes but we need to include the latest webservice-utils I think: https://github.com/daisy/pipeline-framework/pull/90

[2015-11-11 11:05] bertfrees commented on #19
(planned for milestone 1.10 but I hope we can include it without much trouble)

[2015-11-11 15:12] josteinaj commented on #20
I usually like Relax NG, but in this case it seems to put too many requirements on the client implementation. I don't know how you would map a generic Relax NG structure to a Web UI widget? However, we could maybe use a subset of Relax NG. I'll give it a try:

Enums in RelaxNG:

[code]

Regex in RelaxNG:

[code]
- The `type` attribute on the `data` element is redundant as that is declared in the s

[2015-11-11 15:25] josteinaj commented on #20
Actually, re-reading your [last couple of comments in daisy/pipeline-framework#84](https://github.com/daisy/pipeline-framework/pull/84#issuecomment-143314554) you have much better suggestions about how to do it in Relax NG than my thoughts above.

My main concern is that it must be easy for the Web UI to parse and do something with the datatypes. If you have a suggestion on how to do it in a way t

[2015-11-11 18:10] bertfrees commented on #20
Yes I understand the concern. There is (a) the question of how to validate and (b) the question of how to present options of certain types as widgets.

I guess the client would have to recognize the basic types such as simple enumeration lists for which it wants to use special widgets. This is probably the most important challenge. For all other types it can fall back on a simple string input fiel

[2015-11-12 11:00] bertfrees commented on #20
Jostein and I discussed and in the end we went with:

**enum**: `/choice[@id]/value/text()` (Relax NG + root `@id`)

**regex**: `/data[@id]/param[@name='pattern']/text()` (Relax NG + root `@id`)

The idea is to have a (almost) subset of RelaxNG so that if we decide later to move to RelaxNG completely we are almost compatible.

One idea to support nice names on enum values is to add a `px:nicename`

[2015-11-23 15:35] bertfrees commented on #20
@usama49 When you are ready with the MTM script could you also have a look at https://github.com/daisy/pipeline-mod-braille/issues/26?

[2015-11-26 10:25] bertfrees opened #21 "Java compatibility"
For each component and for the whole system, make explicit in the developer documentation which Java versions are required. Possibly as an ultimate overview make a compatibility matrix.

All related issues:
- [x] https://github.com/joeha480/brailleutils/issues/23
- [x] https://github.com/joeha480/brailleutils/issues/63
- [x] https://github.com/joeha480/dotify/issues/7
- [x] https://github.com/joeh

[2015-12-02 14:15] bertfrees opened #22 "Specification of required script configuration and user interface"
See https://github.com/snaekobbi/wiki/wiki/Configuration-and-user-interface.

Steffen is currently making a comparison of the current systems' configuration possibilities.

In a next step we will:
- [x] ask people what they like and don't like about the current options and let them suggest new things,
- [x] find out how things need to be configured, and very importantly, what the typical use cases

[2015-12-09 10:13] usama49 opened #23 "CSS property @page:first cause error"
When using CSS property @page:first  , it will cause error and no output is produced and pipeline shows success message. For example i used  @page:first {margin-left: 2; } in my testing.

[2015-12-09 10:20] bertfrees commented on #23
`@page:first` is not a braille CSS feature. `margin-left: 2` also not in a page context by the way. What exactly is it you want to say with this issue? That the Pipeline should not show a success message when there is an error and no output produced? Or that you want support for `@page:first`?

[2015-12-09 10:49] usama49 commented on #23
@page:first  is mentioned in spec ( 12.1.1 The @page rule) along with  page pseudo-classes  :left, :right and :blank. It would be nice if you can provide support  for @page:first. as @page:left and @page:right is already supported.
2nd thing in general is that Pipeline should not show a success message when there is an error and no output produced. It may provide some kind of information that feat

[2015-12-09 10:58] bertfrees commented on #23
Oh, you're right! Who put that there? :confused: Yes, it will be supported at some point. Do you have a specific use case for it?

For the other thing apparently I already had an issue: see https://github.com/daisy/pipeline-mod-braille/issues/36. Can you see an error message in the log? Or do you just get no output and nothing else?

[2015-12-09 11:02] bertfrees commented on #23
OK I see on the test server that for one job you got the message "Processing terminated by xsl:message at line 426 in css-to-obfl.xsl". I need to find out why this doesn't cause the whole conversion to fail.

[2015-12-09 11:08] usama49 commented on #23
I have plan to use @page:first    to treat first page with different CSS style as mentioned by Kari.
I received success message and no output as mentioned in issue #36.

[2015-12-09 11:10] bertfrees commented on #23
Can I know the use case? Just to make sure it makes sense before I (or someone else) goes ahead and implement it.

[2015-12-09 11:22] usama49 commented on #23
For example:
1:Each new chapter should start from left page,
2:New volume first page is different from rest of the volume.

i am not sure these can be handled by other approach?

[2015-12-09 11:52] bertfrees commented on #23
1. Each new chapter start from left page: for that we have `page-break-before:left` in CSS. However Joel and I decided not to implement this yet (`right` is implemented but not `left`) because we didn't have a specific use case and it seemed like a funny thing to do. So is this really how you plan to do it at NLB? Start from _left_ page?
2. First page of volume different from rest: OK we'll do tha

[2015-12-09 12:04] usama49 commented on #23
Start from left page? sorry i wrote wrong , we do the same as you mentioned . New chapter starts from "right" page. it means "page-break-before:left" should work.

[2015-12-09 12:09] bertfrees commented on #23
OK good :) Just to be clear:
- `page-break-before: right` mean start from _right_ page. This works.
- `page-break-before: left` means start from _left_ page. This doesn't work (and you don't need it).

[2015-12-09 12:16] usama49 commented on #23
ok.
we don't need "page-break-before:left"
thanks

[2016-01-04 19:30] #16 closed, assigned to josteinaj

[2016-01-04 19:45] bertfrees commented on #10
Backing up of web UI data is currently done in snaekobbi/test-server-hubot at [bash/handlers/pipeline-upgrade#L10](https://github.com/snaekobbi/test-server-hubot/blob/bdb7a44b0ac7f60664ff34d982295a209fa8a8d1/bash/handlers/pipeline-upgrade#L10). Server data is not explicitly backed up. In fact for the latest system update I changed the script to [remove the data directory](https://github.com/snaeko

[2016-01-05 10:48] josteinaj commented on #10
The Web UI does not store much job data itself, it mainly just references the underlying engine job: https://github.com/daisy/pipeline-webui/blob/big-update/conf/evolutions/default/6.sql#L7

If we start storing job data in the Web UI then we essentially reduce the engine to an XProc engine. Which I'd probably be fine with, but it would mean we can't access the same jobs across clients (which we pr

[2016-01-05 10:55] bertfrees commented on #10
OK. No I didn't mean going away from the client/server approach. I just thought the web UI already did safe quite a bit of job data. Maybe it's just the input files it safes?

What you say about the default behavior makes sense.

[2016-01-05 11:04] josteinaj commented on #10
Oh, you're right. Yeah I guess it does store quite a bit now with the ability to rerun jobs and all - it's just not stored in the DB. The only thing not stored in the Web UI are the result files.

[2016-01-07 13:58] bertfrees opened #24 "Work towards OBFL v1.0 by end of March"
Try to make the specification as complete as possible, including the more advanced features that will be implemented at a later time.

See OBFL milestone [2016 Q1](https://github.com/braillespecs/obfl/milestones/2016%20Q1)

[2016-01-20 09:13] bertfrees commented on #22
I have largely figured out how to implement it: see "Solution column" in https://docs.google.com/document/d/1mOH7C0jj-NzZ1ZlzwqEUIklzJN0Z8IPhVNJL3-QVKYs/edit#

[2016-02-19 10:59] bertfrees opened #25 "Make it possible to use any component outside of an OSGi context"
Which means you have to wire up everything manually, but at least you are not forced to use OSGi (and possibly we could rely on some other dependency injection mechanism as an alternative to OSGi.)

See also:
- [ ] https://github.com/daisy/pipeline-tasks/issues/28
- [ ] https://github.com/daisy/pipeline-tasks/issues/31

[2016-03-11 18:01] bertfrees commented on #20
Scripts now have datatypes, either declared inline (https://github.com/daisy/pipeline-mod-braille/issues/85), or declared in a separate file and referenced from the script options. We're using the subset of RelaxNG decribed above, also with the solution described above for value descriptions, but we plan to change that to a better solution: https://github.com/daisy/pipeline-webui/issues/71.

[2016-03-11 18:01] #20 closed, assigned to nobody

[2016-03-11 18:03] bertfrees commented on #19
Scripts now have default option values declared in them.

[2016-03-11 18:03] #19 closed, assigned to nobody

[2016-03-14 20:09] #22 closed, assigned to stesk

[2016-03-31 10:41] josteinaj opened #26 "HTML preview: make it easier to "go back" to job view"

[2016-03-31 10:42] josteinaj opened #27 "HTML preview: support volumes"

[2016-04-04 15:31] bertfrees commented on #27
Yep, I've been looking into this but haven't found the time yet. This is quite important indeed.

[2016-04-04 15:34] bertfrees commented on #26
Don't think I understand. Does the back button of the browser not work maybe if you have previously clicked on page thumbnails?

[2016-04-04 15:44] josteinaj commented on #26
Yes, as you navigate through the HTML preview, the fragment identifier in the browser changes, so you have to click "back" several times to get back to the job. I don't think something needs to change in the preview itself, it's nice to be able to refer to specific pages using fragments/anchors. I think maybe a solution would be to have the preview open in a new tab. Or maybe have a "back" link at

[2016-04-04 16:42] bertfrees commented on #26
I like opening the preview in a new tab.

A "back" link might work too although I don't have any idea how would that work.

[2016-04-05 07:30] josteinaj commented on #26
Ok, let's do `target="_blank"` then. We can probably make all links open in a new tab - downloads will still just download; i.e. we don't need to check for an html file extension etc.

[2016-04-05 07:32] josteinaj commented on #26
Closing this. Opened daisy/pipeline-webui#84.

[2016-04-05 07:32] #26 closed, assigned to nobody

[2016-04-06 08:49] josteinaj opened #28 "Improve performance"
There didn't seem to be an issue for this already so I'm creating this one.

I ran some tests yesterday using the docker image I created (https://github.com/snaekobbi/system/commit/2413f9bf1d40f6469c6ddee80a89bf12e7ec03a3 - meaning engine version 1.9.10-20160309.135502-7 and mod-nlb version 1.6.0-SNAPSHOT - I used the nlb:dtbook-to-pef script) on randomly selected books of various sized from NLBs

[2016-04-07 13:00] josteinaj opened #29 "More useful execution log output"
This is some information that might be useful for braille experts to have:
- [ ] What happens during volume breaking
- [ ] Consequences due to hyphenation and long words either not fitting on a line, causing orphan/widows, etc.
- [ ] Characters that cannot be translated to braille due to them not being present in the braille table.
- [ ] What happens to tables, how are they laid out, when do they

[2016-04-07 14:33] bertfrees commented on #29
Good points. Not all of them are as easy to implement. But for me usability is a very important topic in phase 3 of the project, so we're going to do what we can.

[2016-04-11 06:23] dkager commented on #29
This is a direct request from our transcribers. Our current system shows a percentage indicator, but 'page X of Y' would also be good I think.

[2016-05-03 12:09] bertfrees opened #30 "Regression tests"
@joeha480 noted that regression test are a good complement to unit tests. They can possibly cover more or other things than unit tests because they are based on real life use cases. Also, they represent what someone finds the most important about a program or library. For instance, MTM has a bunch of regression tests for Dotify, but it doesn't cover all the features available in Dotify because MTM

[2016-05-18 12:22] bertfrees opened #31 "Move repos to other organisations or archive them"
- forked repos to be removed (if needed, merge with upstream, and in the future, when others want to contribute, they should make their own fork)
  - [ ] pipeline-mod-braille
    - [ ] move branches to daisy/pipeline-mod-braille
    - [ ] original repo can possibly be split up into several sub-repos, each of which can possibly be moved later on to the organisation of its main maintainer
    - [ ]

[2016-05-20 09:26] josteinaj commented on #31
Issues can be moved with a tool like this: https://github-issue-mover.appspot.com/

I've used it before to move issues between different DP2 repos and it works well. I think it's the tool in the above link I used, but there's probably others available.

[2016-06-15 09:37] bertfrees commented on #25
See https://github.com/daisy/pipeline-mod-braille/commit/3ad2ddd17da807020a714c5e2e098c3318da05b4

[2016-06-30 08:07] jukkae commented on #31
pipeline-mod-celia can be moved to celiafi organization (https://github.com/celiafi)

[2016-06-30 08:29] bertfrees commented on #31
CC @EdmarS

[2016-06-30 10:03] josteinaj commented on #31
Not sure if I have admin rights or not yet, but should I move it asap or should I wait a bit? (mod-nlb that is)

[2016-06-30 10:11] bertfrees commented on #31
I've just made you admin. I would say just move.

[2016-07-22 11:22] bertfrees commented on #9
This will involve a conversion from ASCII to Unicode braille because we want to obtain a valid PEF.

[2016-11-17 13:17] bertfrees commented on #29
Related to this is https://github.com/daisy/pipeline-webui/issues/89.

[2016-11-17 13:25] bertfrees commented on #27
Duplicate of https://github.com/daisy/pipeline-mod-braille/issues/87. This was fixed in https://github.com/daisy/pipeline-mod-braille/commit/9639e36102b1768ddfcbc1f44c1adaafe4a5ad3e.

[2016-11-17 14:33] #10 closed, assigned to nobody

[2016-11-17 14:40] bertfrees commented on #9
Closing, see https://github.com/sbsdev/pipeline-mod-sbs/issues/35.

[2016-11-17 14:40] #9 closed, assigned to nobody

[2016-11-17 14:42] bertfrees commented on #7
I'm closing this, I think we can say the requirements have been gathered.

[2016-11-17 14:42] #7 closed, assigned to nobody

[2016-11-17 15:00] bertfrees commented on #17
We ended up adding a xml-to-obfl step (commit https://github.com/daisy/pipeline-mod-braille/commit/6bcf27c1231c374df32faf282d4ece44a36e5b4b) backed by the OBFL "task system". Later it was changed to file-to-obfl so that it could also take EPUBs.

In parallel, we made the "stylesheet" option more powerful by allowing XSLT in addition to CSS (commit https://github.com/daisy/pipeline-mod-braille/comm

[2016-11-17 15:00] #17 closed, assigned to nobody

[2016-11-17 15:04] #27 closed, assigned to bertfrees

[2016-11-18 16:45] josteinaj commented on #28
So I finally got around to (and managed to run) speed tests comparing the Java implementation and XSLT implementation of `css:shift-string-set` (see nlbdev branches [speed-test.java](https://github.com/nlbdev/pipeline/tree/speed-test.java) and [speed-test.xslt](https://github.com/nlbdev/pipeline/tree/speed-test.xslt)).

It turns out that the Java implementation is about 20 times faster. For a 955K

[2017-07-27 18:06] bertfrees commented on #31
It is possible to [lock a conversation](https://github.com/blog/1847-locking-conversations), and a note can be made in the project description/readme that new issues should be created in liblouis/liblouis and daisy/pipeline-mod-braille.

[2017-10-09 09:39] josteinaj commented on #29
@bertfrees should this issue be moved to daisy/pipeline-mod-braille ? And should the other open issues in this repository also be closed and moved to other repositories?

[2017-10-09 10:18] #24 closed, assigned to joeha480

[2017-10-09 10:24] bertfrees commented on #29
Yes we can move this issue and some other issues too. See https://github.com/snaekobbi/issues/issues/31. I'd just create new ones that reference the old ones though, nothing fancy.

[2017-10-09 10:35] josteinaj commented on #29
Moved to: https://github.com/daisy/pipeline-mod-braille/issues/165

[2017-10-09 10:35] #29 closed, assigned to nobody

[2017-10-09 10:40] josteinaj commented on #28
I think we can say that this issue is replaced by https://github.com/daisy/pipeline-tasks/issues/71

[2017-10-09 10:40] #28 closed, assigned to nobody

[2017-10-09 10:42] josteinaj commented on #18
Moved to: https://github.com/daisy/pipeline-mod-braille/issues/166

[2017-10-09 10:42] #18 closed, assigned to nobody

[2017-10-09 10:49] josteinaj commented on #21
pipeline-assembly was fixed last year. I don't know the state of dotify, since the issue referenced was closed 2 years ago, but I assume it's working since dotify is part of the latest pipeline 2 builds.

[2017-10-09 10:49] #21 closed, assigned to bertfrees

[2017-10-09 11:11] bertfrees commented on #25
Closing this issue, can be followed up in https://github.com/daisy/pipeline-tasks/issues/28.

[2017-10-09 11:11] #25 closed, assigned to nobody

[2017-10-09 11:19] bertfrees commented on #21
Note that this issue was also about documentation. Mentioned it in https://github.com/daisy/pipeline-tasks/issues/93.

[2017-10-09 11:24] bertfrees commented on #8
Moved to https://github.com/celiafi/pipeline-mod-celia/issues/47

[2017-10-09 11:24] #8 closed, assigned to nobody

[2018-11-09 10:42] bertfrees commented on #31
It is now possible to transfer issues to other repositories! https://help.github.com/articles/transferring-an-issue-to-another-repository

[2018-11-09 11:01] bertfrees commented on #31
Unfortunately you can't move to other organisations yet :(